<div class="dashboard">

  <!-- TEACHERS CARD -->
  <p-card styleClass="stat-card teacher-card">
    <div class="card-content">
      <i class="pi pi-user-edit icon"></i>
      <div>
        <h2>{{ totalTeachers }}</h2>
        <p>Teachers</p>
      </div>
    </div>
  </p-card>

  <!-- STUDENTS CARD -->
  <p-card styleClass="stat-card student-card">
    <div class="card-content">
      <i class="pi pi-users icon"></i>
      <div>
        <h2>{{ totalStudents }}</h2>
        <p>Students</p>
      </div>
    </div>
  </p-card>

</div>